/* FAVORITES ============================================= */
.row           { margin-bottom: 0; }
.tag-row       { margin-left: 0; margin-bottom: 0; }
.tag .btn      { font-weight: normal; }
.active-post   { display: block; }
.inactive-post { display: none; }
.review        { padding-bottom:20px; }
.title         { margin-top: 30px; margin-bottom: 15px; }
.author        { font-size: 2.6rem; }

@media (max-width: 460px) {
    .title          { font-size: 3rem; }
    .author         { font-size: 2.4rem; }
    .review p, .review ul, .review.btn  { font-size: 2rem !important; }
}

.review > .btn      { font-weight: bold; }
.review p, .review ul, .review.btn { font-size: 1.6rem !important; }

.book-img {
    position: relative;
    display: inline-block;
    height: 30vh !important;
    width: auto !important;
    margin-top: 30px;
}

#black-hole-spoiler {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
#outliers-factors, .sub-list {
    padding-left: 15px;
}

.square-bulleted {
    list-style-type: square;
}